DJANGO_SECRET_KEY=""
DJANGO_DEBUG="True"
DJANGO_ALLOWED_HOSTS="localhost,127.0.0.1,[::1]"
DJANGO_CSRF_TRUSTED_ORIGINS=""
DJANGO_SECURE_SSL_REDIRECT="False"
DJANGO_SECURE_COOKIES="False"
DJANGO_HSTS_SECONDS="0"
DJANGO_HSTS_INCLUDE_SUBDOMAINS="False"
DJANGO_HSTS_PRELOAD="False"
DJANGO_TRUST_X_FORWARDED_PROTO="False"
DJANGO_MAX_REQUEST_BYTES="2097152"
DJANGO_LOG_LEVEL="INFO"
DJANGO_REQUEST_LOG_LEVEL="ERROR"

POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST=""
POSTGRES_PORT="5432"
POSTGRES_CONN_MAX_AGE="60"

SEED_USER_PASSWORD=""

# TMDB v3 API key or, alternatively, the API Read Access Token.
TMDB_API_KEY=""
TMDB_API_TOKEN=""
